html {
  font-size: 0.625em;
}

body {
  margin: 0 auto;
  font-family: "Red Hat Display", sans-serif;
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: #87879d;
  font-weight: 500;
  background-color: #fafafa;
}

h1 {
  font-size: 4rem;
  line-height: 4.4rem;
  color: #28283d;
  font-weight: 900;
}

h2 {
  font-size: 3.2rem;
  line-height: 3.6rem;
  color: #28283d;
  font-weight: 900;
}

.overline {
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: #4d96a9;
  font-weight: 900;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
}

.button {
  font-family: "Red Hat Display", sans-serif;
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: 900;
  padding: 16px 30px;
  color: #fff;
  border-radius: 30px;
  width: fit-content;
  border: unset;
}
.button span {
  margin-left: 4px;
}
.button-primary {
  background-color: #4d96a9;
}
.button-primary:hover {
  background-color: #71c0d4;
}
.button-primary span {
  color: #8fe3f9;
}
.button-secondary {
  background-color: #855fb1;
}
.button-secondary:hover {
  background-color: #b18bdd;
}
.button-secondary span {
  color: #d9b8ff;
}

.main-page .logo {
  width: 100%;
  margin: 48px auto 54px;
  text-align: center;
}
.main-page .image-hero {
  background-image: url("../assets/tablet/image-hero.png");
  background-position: center;
  width: 100%;
  height: 153px;
  background-size: cover;
}
.main-page .cta {
  margin: 48px 24px 64px;
}
.main-page .cta h1 {
  text-align: center;
  margin: 48px 0 24px 0;
}
.main-page .cta p {
  margin: 0;
  text-align: center;
}
.main-page .cta .group-button {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  align-items: center;
  gap: 16px;
}
.main-page .divider {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 900;
}
.main-page .divider::before {
  content: "";
  width: 1px;
  height: 84px;
  border-left: solid 1px rgba(135, 135, 157, 0.25);
}
.main-page .divider .circle {
  width: 54px;
  height: 54px;
  border-radius: 100%;
  border: 1px solid rgba(135, 135, 157, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  background-color: #fafafa;
}
.main-page .images {
  display: flex;
  flex-wrap: wrap;
  gap: 24px 25px;
  justify-content: center;
  margin: 64px 0;
}
.main-page .images img {
  height: 143px;
  width: 151px;
  border-radius: 8px;
}
.main-page .build {
  text-align: center;
  margin: 0 24px 64px 24px;
}
.main-page .build h2 {
  margin: 24px 0 32px;
}
.main-page .second-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 100%;
}
.main-page .second-section .experience {
  position: absolute;
  top: 50%;
  width: 100%;
  background: linear-gradient(rgba(77, 151, 169, 0.815), rgba(77, 151, 169, 0.815)), url("../assets/mobile/image-footer.jpg");
  background-position: center;
  background-size: cover;
}
.main-page .second-section .experience div {
  margin: 92px 24px 72px 24px;
  text-align: center;
  color: #fff;
}
.main-page .second-section .experience div h2 {
  color: #fff;
  margin: 0;
  margin-bottom: 24px;
}
.main-page .second-section .experience div p {
  margin: 0;
  margin-bottom: 36px;
  font-weight: 500;
}
.main-page .second-section .experience div button {
  padding: 16px 40px;
}

@media screen and (min-width: 680px) {
  h1 {
    font-size: 4.8rem;
    line-height: 4.8rem;
  }

  .main-page h2 {
    font-size: 4rem;
    line-height: 4.4rem;
    width: 58%;
  }
  .main-page .logo {
    margin-bottom: 64px;
  }
  .main-page .image-hero {
    height: 303px;
  }
  .main-page .cta {
    margin: 72px auto 80px;
  }
  .main-page .cta h1 {
    margin-top: 0;
  }
  .main-page .cta p {
    width: 60%;
    margin: 0 auto;
  }
  .main-page .cta .group-button {
    flex-direction: row;
    justify-content: center;
  }
  .main-page .images {
    margin: 67px 0 48px;
    gap: 11px;
  }
  .main-page .build {
    margin: 0 auto 80px;
  }
  .main-page .build h2 {
    margin: 16px auto 32px;
  }
  .main-page .build p {
    width: 74.6%;
    margin: 0 auto;
  }
  .main-page .second-section .experience {
    background: linear-gradient(rgba(77, 151, 169, 0.815), rgba(77, 151, 169, 0.815)), url("../assets/tablet/image-footer.jpg") no-repeat;
    background-position: center;
    background-size: cover;
  }
  .main-page .second-section .experience div {
    margin: 92px 0 66px 0;
  }
  .main-page .second-section .experience div h2 {
    margin: 0 auto;
  }
  .main-page .second-section .experience div p {
    margin: 32px auto 40px;
    width: 65%;
  }
}
@media screen and (min-width: 1120px) {
  .main-page p {
    font-size: 1.8rem;
  }
  .main-page .logo {
    margin: 80px auto 0;
  }
  .main-page .image-hero {
    display: none;
  }
  .main-page .cta {
    display: flex;
    margin: 61px auto 110px;
  }
  .main-page .cta .image-left-hero {
    background: url("../assets/desktop/image-hero-left.png") no-repeat;
    background-position: top right;
    flex-grow: 1;
  }
  .main-page .cta .image-right-hero {
    background: url("../assets/desktop/image-hero-right.png") no-repeat;
    background-position: top left;
    flex-grow: 1;
  }
  .main-page .cta .header {
    margin: 47px 88px 0 88px;
    width: 37.5%;
  }
  .main-page .cta .header h1 {
    margin-bottom: 34px;
    font-size: 6.4rem;
    line-height: 6.4rem;
  }
  .main-page .cta .header p {
    width: unset;
  }
  .main-page .divider .circle p {
    font-size: 1.6rem;
  }
  .main-page .images {
    margin: 64px 0 80px;
    gap: 30px;
  }
  .main-page .images img {
    width: 255px;
    height: 242px;
  }
  .main-page .build {
    margin: 0 auto 72px;
  }
  .main-page .build h2 {
    width: 445px;
  }
  .main-page .build p {
    width: 540px;
  }
  .main-page .second-section .experience {
    background: linear-gradient(rgba(77, 151, 169, 0.815), rgba(77, 151, 169, 0.815)), url("../assets/desktop/image-footer.jpg") no-repeat;
    background-position: center;
    background-size: cover;
  }
  .main-page .second-section .experience div {
    margin: 116px auto 104px;
    max-width: 1110px;
    display: flex;
    align-items: center;
    text-align: left;
  }
  .main-page .second-section .experience div h2 {
    width: 350px;
    margin: 0;
    margin-right: 125px;
  }
  .main-page .second-section .experience div p {
    width: 350px;
    margin: 0;
    margin-right: 92px;
  }
  .main-page .second-section .experience div button {
    height: fit-content;
    display: flex;
  }
}

/*# sourceMappingURL=style.css.map */
