$color-turquoise: #4d96a9;
$color-turquoise-transparent: rgba(77, 151, 169, 0.815);
$color-purple: #855fb1;
$color-dark-purple: #28283d;
$color-grey: #87879d;
$color-grey-transparent: rgba(135, 135, 157, 0.25);
$color-blue: #8fe3f9;
$color-light-purple: #d9b8ff;
$color-light: #fafafa;
$color-white: #fff;
$color-turquoise-hover: #71c0d4;
$color-purple-hover: #b18bdd;

html {
    font-size: 0.625em;
}
body {
    margin: 0 auto;
    font-family: "Red Hat Display", sans-serif;
    font-size: 1.6rem;
    line-height: 2.6rem;
    color: $color-grey;
    font-weight: 500;
    background-color: $color-light;
}

h1 {
    font-size: 4rem;
    line-height: 4.4rem;
    color: $color-dark-purple;
    font-weight: 900;
}

h2 {
    font-size: 3.2rem;
    line-height: 3.6rem;
    color: $color-dark-purple;
    font-weight: 900;
}

.overline {
    font-size: 1.6rem;
    line-height: 2.6rem;
    color: $color-turquoise;
    font-weight: 900;
    letter-spacing: 0.4rem;
    text-transform: uppercase;
}
.button {
    font-family: "Red Hat Display", sans-serif;
    font-size: 1.6rem;
    line-height: 2.6rem;
    font-weight: 900;
    padding: 16px 30px;
    color: $color-white;
    border-radius: 30px;
    width: fit-content;
    border: unset;

    span {
        margin-left: 4px;
    }

    &-primary {
        background-color: $color-turquoise;
        &:hover {
            background-color: $color-turquoise-hover;
        }
        span {
            color: $color-blue;
        }
    }

    &-secondary {
        background-color: $color-purple;
        &:hover {
            background-color: $color-purple-hover;
        }
        span {
            color: $color-light-purple;
        }
    }
}

.main-page {
    .logo {
        width: 100%;
        margin: 48px auto 54px;
        text-align: center;
    }
    .image-hero {
        background-image: url("../assets/tablet/image-hero.png");
        background-position: center;
        width: 100%;
        height: 153px;
        background-size: cover;
    }
    .cta {
        margin: 48px 24px 64px;
        h1 {
            text-align: center;
            margin: 48px 0 24px 0;
        }
        p {
            margin: 0;
            text-align: center;
        }
        .group-button {
            display: flex;
            flex-direction: column;
            margin-top: 32px;
            align-items: center;
            gap: 16px;
        }
    }

    .divider {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-weight: 900;
        &::before {
            content: "";
            width: 1px;
            height: 84px;
            border-left: solid 1px $color-grey-transparent;
        }
        .circle {
            width: 54px;
            height: 54px;
            border-radius: 100%;
            border: 1px solid $color-grey-transparent;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 2;
            background-color: $color-light;
        }
    }

    .images {
        display: flex;
        flex-wrap: wrap;
        gap: 24px 25px;
        justify-content: center;
        margin: 64px 0;
        img {
            height: 143px;
            width: 151px;
            border-radius: 8px;
        }
    }
    .build {
        text-align: center;
        margin: 0 24px 64px 24px;
        h2 {
            margin: 24px 0 32px;
        }
    }

    .second-section {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        width: 100%;
        .experience {
            position: absolute;
            top: 50%;
            width: 100%;
            background: linear-gradient($color-turquoise-transparent, $color-turquoise-transparent),
                url("../assets/mobile/image-footer.jpg");
            background-position: center;
            background-size: cover;

            div {
                margin: 92px 24px 72px 24px;
                text-align: center;
                color: $color-white;
                h2 {
                    color: $color-white;
                    margin: 0;
                    margin-bottom: 24px;
                }
                p {
                    margin: 0;
                    margin-bottom: 36px;
                    font-weight: 500;
                }
                button {
                    padding: 16px 40px;
                }
            }
        }
    }
}

@media screen and (min-width: 680px) {
    h1 {
        font-size: 4.8rem;
        line-height: 4.8rem;
    }
    .main-page {
        h2 {
            font-size: 4rem;
            line-height: 4.4rem;
            width: 58%;
        }
        .logo {
            margin-bottom: 64px;
        }
        .image-hero {
            height: 303px;
        }
        .cta {
            margin: 72px auto 80px;
            h1 {
                margin-top: 0;
            }
            p {
                width: 60%;
                margin: 0 auto;
            }

            .group-button {
                flex-direction: row;
                justify-content: center;
            }
        }
        .images {
            margin: 67px 0 48px;
            gap: 11px;
        }
        .build {
            margin: 0 auto 80px;
            h2 {
                margin: 16px auto 32px;
            }
            p {
                width: 74.6%;
                margin: 0 auto;
            }
        }
        .second-section {
            .experience {
                background: linear-gradient($color-turquoise-transparent, $color-turquoise-transparent),
                    url("../assets/tablet/image-footer.jpg") no-repeat;
                background-position: center;
                background-size: cover;
                div {
                    margin: 92px 0 66px 0;
                    h2 {
                        margin: 0 auto;
                    }
                    p {
                        margin: 32px auto 40px;
                        width: 65%;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1120px) {
    .main-page {
        p {
            font-size: 1.8rem;
        }
        .logo {
            margin: 80px auto 0;
        }
        .image-hero {
            display: none;
        }

        .cta {
            display: flex;
            margin: 61px auto 110px;
            .image-left-hero {
                background: url("../assets/desktop/image-hero-left.png") no-repeat;
                background-position: top right;
                flex-grow: 1;
            }
            .image-right-hero {
                background: url("../assets/desktop/image-hero-right.png") no-repeat;
                background-position: bottom left;
                flex-grow: 1;
            }
            .header {
                margin: 47px 88px 0 88px;
                width: 37.5%;
                h1 {
                    margin-bottom: 34px;
                    font-size: 6.4rem;
                    line-height: 6.4rem;
                }
                p {
                    width: unset;
                }
            }
        }
        .divider {
            .circle {
                p {
                    font-size: 1.6rem;
                }
            }
        }
        .images {
            margin: 64px 0 80px;
            gap: 30px;
            img {
                width: 255px;
                height: 242px;
            }
        }

        .build {
            margin: 0 auto 72px;
            h2 {
                width: 445px;
            }
            p {
                width: 540px;
            }
        }

        .second-section {
            .experience {
                background: linear-gradient($color-turquoise-transparent, $color-turquoise-transparent),
                    url("../assets/desktop/image-footer.jpg") no-repeat;
                background-position: center;
                background-size: cover;
                div {
                    margin: 116px auto 104px;
                    max-width: 1110px;
                    display: flex;
                    align-items: center;
                    text-align: left;
                    h2 {
                        width: 350px;
                        margin: 0;
                        margin-right: 125px;
                    }
                    p {
                        width: 350px;
                        margin: 0;
                        margin-right: 92px;
                    }
                    button {
                        height: fit-content;
                        display: flex;
                    }
                }
            }
        }
    }
}
